 .fornecedorform{
    text-align: right;
   
  }
  .cxfornecedor{
    display: block;
    margin: 300px;
    margin-top:30px;
  }
  
  .cxfornecedor{
     display: none;
    text-align: center;
    margin: 100px;
    margin-left: 300px ;
    padding-left: 0px;
    min-width: 768 px;
    background-color: rgb(207, 207, 207);
  }
  .btnzap {
    
    color: white;
    text-decoration: none;
  }
  .classcadastrarfornecedor{
    display: none;
    text-align: center;
    margin: 100px;
    margin-left: 300px ;
    padding-left: 0px;
    min-width: 768 px;
  }
  
  .cadastrarfornecedor{
    display: block;
    text-align: left;
    padding: 10px 20px;
    background-color: rgb(207, 207, 207);
    border: none;
    
  }
  
  .cadastrarfornecedor textarea{
    font-size:23px ;
  }
  


.classfazerpedido{
    display: block;
  }
  
  
  .classfazerpedido textarea {
    font-size:20px ;
  
  }
  .classfazerpedido{
    text-align: left;
  }
  
  .classfazerpedido h2{
    text-align: center;
  }
  
  .cadastrarfornecedor h2 {
  text-align: center;
  
  }
  