/* Estilo para todos os overlays de pop-ups */
.popup-overlay {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    z-index: 1000; /* Certifique-se de que o overlay fique acima de outros elementos */
}

/* Estilo para os pop-ups */
.registration-popup, .login-popup, .options-popup {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; /* Fundo branco */
    border: 2px solid #007BFF; /* Borda azul */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    z-index: 1001; /* Certifique-se de que o modal fique acima do overlay */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra do modal */
}

/* Estilo para o conteúdo do pop-up */
.options-popup-content {
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: center; /* Centraliza os elementos */
}

/* Estilo para o botão de fechar */
.close-button {
    cursor: pointer; /* Mão ao passar o mouse */
    font-size: 24px; /* Tamanho do ícone de fechar */
    color: #007BFF; /* Cor azul */
    margin-bottom: 10px; /* Espaço abaixo do botão de fechar */
}

/* Estilo para os botões dentro dos pop-ups */
.popup-button {
    background-color: #007BFF; /* Fundo azul */
    color: white; /* Texto branco */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    margin: 5px; /* Espaço entre os botões */
    cursor: pointer; /* Mão ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave */
}

/* Efeito de hover para os botões */
.popup-button:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
}

/* Estilo para o título do pop-up */
h3 {
    margin-bottom: 15px; /* Espaço abaixo do título */
}
