/* Estilização geral da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

header {
  top: 0;
  position: fixed;
  text-align: center;
  background-color: #ddd;
  width: 100vw;
  height: 40px;
  z-index: 1000;
}

/* Caixa de menu lateral */
nav.menulateral {
  width: 70px;
  height: 100%;
  background-color: aliceblue;
  padding: 40px 0 40px 1%;
  box-shadow: 3px 0 0 black;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
  z-index: 999;
}

nav.menulateral.expandir {
  width: 200px;
}

.btnexpandir {
  width: 100%;
  padding-left: 10px;
}

.btnexpandir > i {
  color: black;
  font-size: 24px;
  cursor: pointer;
}

ul {
  height: 100%;
  list-style-type: none;
  padding: 0;
}

ul li.itemmenu {
  transition: background-color 0.5s ease;
}

ul li.ativo {
  background-color: rgb(138, 137, 137);
}

ul li.itemmenu:hover {
  background-color: rgb(138, 137, 137);
}

ul li.itemmenu a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  padding: 20px 4%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  line-height: 40px;
}

ul li.itemmenu a .txtlink {
  margin-left: 70px;
  transition: margin-left 0.5s, opacity 0.5s;
  opacity: 0;
}

nav.menulateral.expandir .txtlink {
  margin-left: 40px;
  opacity: 1;
}

ul li.itemmenu a .icon > i {
  font-size: 30px;
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.classfinalizarvenda {
  display: none;
  margin: 300px;
  margin-top: 30px;
}

.btnvoltar {
  background-color: red;
  color: white;
  cursor: pointer;
}

.btnvoltar:hover {
  background-color: #ac0b00;
}

.cxvenda, .cxproduto {
  display: none;
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.cxvenda {
  display: block; /* Sempre visível no início */
}

.cxfornecedor, .cxmais {
  display: none;
  text-align: center;
  margin: 100px;
  background-color: rgb(207, 207, 207);
  padding: 20px;
  border-radius: 8px;
}

.hidden {
  display: none;
}

/* Responsividade */
@media (max-width: 768px) {
  nav.menulateral {
    width: 60px; /* Menu menor para telas pequenas */
  }

  nav.menulateral.expandir {
    width: 150px; /* Menos expansão para telas menores */
  }

  ul li.itemmenu a .txtlink {
    display: none; /* Remove texto em telas pequenas */
  }

  .cxvenda, .cxproduto {
    padding: 10px; /* Ajusta o padding */
  }

  .cxfornecedor, .cxmais {
    margin: 50px 10px; /* Reduz margens laterais em telas pequenas */
  }
}

@media (min-width: 1024px) {
  .cxvenda, .cxproduto {
    max-width: 80%; /* Limita a largura em telas grandes */
  }

  .cxfornecedor, .cxmais {
    margin: 100px auto; /* Centraliza com margens automáticas */
  }
}
