/* Estilos para a seção de produtos */
.cxproduto h1 {
  text-align: center;
  color: #333;
}

/* Barra de opções */
.cxproduto .barra-opcoes {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cxproduto .barra-opcoes button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.cxproduto .barra-opcoes button:hover {
  background-color: #0056b3;
}

/* Formulário de produtos */
.cxproduto form {
  display: flex;
  flex-direction: column;
}

.cxproduto label {
  margin-top: 10px;
  font-weight: bold;
}

.cxproduto input[type="text"],
.cxproduto input[type="number"],
.cxproduto input[type="file"] {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Botão de cadastro de produtos */
#btncadastrarprodutos {
  padding: 10px 20px;
  width: 200px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #a3a3a3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
}

.cxproduto button:hover {
  background-color: #218838;
}

/* Lista de produtos */
.cadastrarprodutos {
  display: none;
  margin-left: 15vh;
}

.cxproduto .containerprodutos {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding-bottom: 80px;
}

.cxproduto .listaprodutos {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  margin: 0 10vw;
}

.cxproduto .listaprodutos h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

/* Estilos para cada item de produto */
.itemproduto {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.itemproduto:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.itemproduto img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.itemproduto p {
  margin: 0 10px 0 0;
  font-size: 1em;
  color: #555;
}

.itemproduto button {
  background-color: #28a745;
  width: 100%;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.itemproduto button:hover {
  background-color: #218838;
}

.botãoescolherimagem {
  padding: 3px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botãoescolherimagem:hover {
  background-color: #004494;
}

/* Responsividade */
@media (max-width: 768px) {
  .cxproduto .barra-opcoes {
    flex-direction: column;
  }

  .cxproduto .listaprodutos {
    margin: 0;
  }

  .itemproduto {
    flex-direction: column;
    align-items: flex-start;
  }

  .itemproduto img {
    margin-bottom: 10px;
  }

  .itemproduto button {
    width: auto;
  }
}

@media (min-width: 1024px) {
  .cxproduto .listaprodutos {
    margin: 0 5vw; /* Ajusta as margens em telas maiores */
  }

  .itemproduto {
    display: grid;
    grid-template-columns: 80px auto 100px;
    grid-gap: 15px;
    align-items: center;
  }
}
