section div .cxmais{
    display: none;
    text-align: center;
    margin: 100px;
    margin-left: 300px ;
    padding-left: 0px;
    min-width: 768 px;
    background-color: rgb(207, 207, 207);
  }
  .cxmais {
    display: none; /* Seção "Mais Opções" oculta por padrão */
    text-align: center;
    margin: 100px;
    margin-left: 300px;
    padding: 20px;
    background-color: rgb(207, 207, 207);
  }
  
.opcoes-interativas {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .opcao button {
    padding: 15px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .opcao button:hover {
    background-color: #45a049;
  }
  
  .conteudo-interativo {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  